WhiteBoard.Business/Web References/ServiceImage/ImageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://lstken40222/WhiteBoardImages/Imageservice.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://lstken40222/WhiteBoardImages/Imageservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://lstken40222/WhiteBoardImages/Imageservice.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImageService_SavedImages_InputMessage">
    <wsdl:part name="parameters" element="tns:SavedImages" />
  </wsdl:message>
  <wsdl:message name="IImageService_SavedImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavedImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IImageService_SaveImage_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveImage" />
  </wsdl:message>
  <wsdl:message name="IImageService_SaveImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveImageResponse" />
  </wsdl:message>
  <wsdl:portType name="IImageService">
    <wsdl:operation name="SavedImages">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageService/SavedImages" message="tns:IImageService_SavedImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageService/SavedImagesResponse" message="tns:IImageService_SavedImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageService/SaveImage" message="tns:IImageService_SaveImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageService/SaveImageResponse" message="tns:IImageService_SaveImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImageService" type="tns:IImageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SavedImages">
      <soap:operation soapAction="http://tempuri.org/IImageService/SavedImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveImage">
      <soap:operation soapAction="http://tempuri.org/IImageService/SaveImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImageService">
    <wsdl:port name="BasicHttpBinding_IImageService" binding="tns:BasicHttpBinding_IImageService">
      <soap:address location="http://lstken40222/WhiteBoardImages/Imageservice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>